* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

@font-face {
  font-family: "DS-Digital";
  src: url("./font/DS-DIGI.TTF");
}

body {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
}

#calculadora {
  display: flexbox;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
  height: 500px;
  background-color: black;
  padding: 5px;
  border-radius: 20px;
}

.display {
  height: 20%;
  margin: 10px;
  align-self: flex-start;
  background-color: #525252;
  color: white;
  font-size: 38px;
  border-radius: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding: 10px;
  font-family: DS-Digital;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  align-self: flex-end;
  padding: 10px;
  height: calc(80% - 20px);
  overflow: hidden;
}

.item {
  border-radius: 100%;
  background-color: lightgrey;
  height: 100%;
  width: 100%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.op {
  background-color: orange;
  color: white;
  font-weight: bold;
}

#C {
  background-color: crimson;
  color: white;
  font-weight: bold;
}
